@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  background-color: #f5f3ef;
  padding-bottom: 6.25rem;

  > .limiter {
    @include limiter;

    > .head {
      border-top: 4px solid #06542c;
      background-color: #fff;

      > ul {
        @include flexCenterStyle;
        cursor: pointer;

        > li {
          width: 100%;
          color: #212121;
          font-size: 1.5rem;
          text-align: center;
          padding: 1.25rem 0;
          line-height: 1;

          &.active {
            font-weight: bold;
            color: #06542c;
            background-color: #f0ede7;
          }
        }
      }
    }

    > .body {
      margin-top: 2.5rem;

      > ul {
        border-top: 1px solid rgba(65, 54, 40, 0.3);

        > li {
          display: flex;
          flex-direction: column;

          &.active {
            > .title {
              &::after {
                content: '-';
              }
            }

            > .content {
              display: block;
            }
          }

          > .title {
            cursor: pointer;
            white-space: nowrap;
            color: #212121;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 1.25rem 1rem;
            border-bottom: 1px solid rgba(65, 54, 40, 0.3);

            &::after {
              content: '+';
              color: #06542c;
              float: right;
            }
          }

          > .content {
            display: none;
            background-color: rgba(195, 181, 155, 0.1);
            padding: 2rem;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(65, 54, 40, 0.3);

            > p {
              font-size: 1.25rem;
              line-height: 2;
              font-weight: lighter;
            }
          }
        }
      }
    }
  }
}
