@import '../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  padding-bottom: 9.375rem;
  background-color: $face-color;

  > .limiter {
    @include limiter;
  }
}
