@import '../../common.scss';

.dew {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: calc(50% + 36px);
  transform: translate(-50%, -50%);
  display: none;

  > img {
    width: 100%;
    max-width: 3rem;
  }
}
