@import '../../../common.scss';

.container {
  @include backgroundDefaultStyle;
  @include flexCenterStyle;
  height: 52rem;
  position: relative;
  overflow: hidden;

  > .limiter {
    @include limiter;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;

    > .title {
      @include sectionTitle;
      color: white;
      padding-top: 6rem;
    }
    > .text {
      padding-top: 1.4rem;
      font-size: 1.6rem;
      color: white;
      text-align: center;
      line-height: 1.8;
    }
    > .objects {
      @include absoluteFill;

      > img {
        position: absolute;

        &.left {
          width: 100%;
          max-width: 14rem;
          left: 0;
          top: 30%;
        }
        &.right {
          width: 100%;
          max-width: 18.75rem;
          right: 0;
          top: 50%;
        }
        &.ca {
          left: 24%;
          top: 38%;
        }
        &.mg {
          right: 28%;
          top: 65%;
          z-index: 3;
        }
      }
    }
  }
  > .bottle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.inner {
  @include flexCenterStyle;
  flex-direction: column;
  background-color: #003665;
  padding: 5rem 0;

  > p {
    padding-bottom: 0.5rem;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    line-height: 1.8;
  }
}
