@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  background-color: $face-color;
  padding: 6.25rem;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;
    flex-direction: column;

    > .title {
      @include sectionTitle;
      padding-bottom: 3.75rem;
      text-align: center;
    }
    > video {
      width: 100%;
      max-width: 80rem;
    }
  }
}
