@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  padding: 6rem 0;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;
    flex-direction: column;

    > .title {
      @include sectionTitle;
      color: #00325d;
      padding-bottom: 5rem;
    }
    > .list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 72.5rem;

      @include tablet {
        flex-direction: column;
      }
      @include mobile {
        flex-direction: column;
      }
      > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 48%;
        border-top: 4px solid;

        @include tablet {
          width: 80%;
          margin: auto;
        }
        @include mobile {
          width: 100%;
        }
        &.ca {
          border-color: #6eb92a;

          @include tablet {
            padding-bottom: 6rem;
          }
          @include mobile {
            padding-bottom: 6rem;
          }
          > .product {
            background-color: #f0f8e9;

            > .image {
              > p {
                background-color: #6eb92a;
              }
            }
            > .desc {
              > .accent {
                color: #6eb92a;
                border-bottom: 5px solid rgba(110, 185, 42, 0.3);
              }
            }
          }
        }
        &.ma {
          border-color: #00a7f0;

          > .product {
            background-color: #e5f6fe;

            > .image {
              > p {
                background-color: #00a7f0;
              }
            }
            > .desc {
              > .accent {
                color: #00a7f0;
                border-bottom: 5px solid rgba(0, 167, 240, 0.3);
              }
            }
          }
        }
        > .product {
          @include flexCenterStyle;
          flex-direction: column;
          width: 100%;
          padding: 3.4rem 1rem;
          box-sizing: border-box;
          margin-bottom: 3rem;

          > .title {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
          }
          > .desc {
            margin-top: 1rem;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.8;

            @include mobile {
              > br {
                display: none;
              }
            }
            > .accent {
              font-weight: bold;
              padding-bottom: 5px;
            }
          }
          > .name {
            font-size: 1.8rem;
            color: #003665;
            font-weight: bold;
            padding: 3rem 0 2rem;
          }
          > .image {
            @include backgroundDefaultStyle;
            position: relative;
            width: 100%;
            max-width: 12.5rem;
            height: 10rem;

            > p {
              @include flexCenterStyle;
              flex-direction: column;
              border-radius: 50%;
              position: absolute;
              right: -25%;
              top: -15%;
              width: 6.25rem;
              height: 6.25rem;
              font-size: 1.2rem;
              color: white;

              > span {
                display: block;
                font-size: 2rem;
                font-weight: bold;
              }
            }
          }
          > .price {
            @include flexCenterStyle;
            color: white;
            font-weight: bold;
            padding: 0.5rem 1rem;
            margin: 2.125rem 0 0;
            border-radius: 2rem;
            font-size: 1.4rem;
            background-color: #003665;
          }
          > .text {
            margin-top: 1rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
