@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  padding: 6.25rem;
  background-color: $face-color;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;
    flex-direction: column;

    > .title {
      @include sectionTitle;
      padding-bottom: 6.25rem;
    }
    > .list {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      > li {
        @include flexCenterStyle;
        flex-direction: column;
        width: 30%;

        > .image {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          min-height: 15.625rem;
        }
        > h3 {
          font-size: 1.4rem;
          font-weight: bold;
          margin: 1.5rem 0 1rem 0;
        }
        > p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
