@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  padding: 6.25rem 0;
  background-color: $face-color;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;
    flex-direction: column;

    > .title {
      @include sectionTitle;
      padding-bottom: 6.25rem;
    }
    > .list {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      @include mobile {
        flex-direction: column;
      }
      > li {
        @include flexCenterStyle;
        flex-direction: column;
        width: 30%;

        @include mobile {
          width: 100%;
          margin-bottom: 4rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
        > .image {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          min-height: 15rem;
        }
        > h3 {
          font-size: 1.4rem;
          font-weight: bold;
          margin: 1.5rem 0 1rem 0;
        }
        > p {
          font-size: 1.2rem;
          text-align: center;
          line-height: 1.8;
          white-space: nowrap;

          @include mobile {
            white-space: normal;
          }
        }
      }
    }
  }
}
