@import '../../common.scss';

.dimmed {
  display: none;

  @include mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 15;

    &.active {
      display: block;
    }
  }
}
