@import '../../common.scss';

.footer {
  padding: 4rem 2rem;
  box-sizing: border-box;
  border-top: 1px solid #f5f3ef;

  > div {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > .title {
        > img {
          width: 100%;
          max-width: 13rem;
          padding-top: 10px;
        }
      }

      > select {
        @include selectIcon;
        margin-left: 4rem;
        padding: 1rem;
        background-color: #fff;
        box-sizing: border-box;
        font-size: 1.125rem;
        color: #666;
        border: 1px solid #999;
        width: 100%;
        max-width: 18rem;
      }
    }

    &.middle {
      > .inner {
        display: flex;
        flex-direction: column;

        > li {
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }

          > .title {
            color: #7bcc12;
            font-weight: bold;
            font-size: 1.4rem;
          }
          > .tel {
            white-space: nowrap;
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 1.5;
            color: #004d1c;
          }
          > .time {
            color: #000;
            font-weight: bold;
            font-size: 1.25rem;
          }

          > .sns {
            @include flexCenterStyle;
            > li {
              padding: 1rem;

              > a {
                > img {
                  width: auto;
                  height: 3rem;
                }
              }
            }
          }
        }
      }
    }

    &.bottom {
      > ul {
        display: flex;
        align-items: center;

        &.infoTop {
          > li {
            &:first-child {
              > a {
                padding-left: 0;
              }
            }

            > a {
              display: block;
              padding: 0 1rem 1rem 1rem;
              color: #666;
              font-weight: bold;
              font-size: 1.125rem;
            }
          }
        }

        &.infoBottom {
          flex-wrap: wrap;
          margin-top: 1rem;

          > li {
            margin: 0 0.5rem 0.5rem 0;
            color: #666;
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}
