@import '../../common.scss';

.container {
  @include flexCenterStyle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  transition: background 0.2s ease;

  &:hover {
    background-color: $accent-color;
  }
  @include mobile {
    padding: 2rem 0;
  }
  > .wrapper {
    width: 100%;
    max-width: 60rem;
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    > .hamburger {
      width: 2.5rem;
      height: 1.5rem;
      position: relative;
      cursor: pointer;
      display: none;

      @include mobile {
        display: block;
      }
      &.close {
        > div {
          &.top {
            transform: rotate(45deg);
          }
          &.center {
            transform: rotate(-45deg);
          }
          &.bottom {
            opacity: 0;
          }
        }
      }
      > div {
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        border-radius: 1rem;
        transition: all 0.2s ease;

        &.top {
          top: 0;
          transform-origin: 5px 6px;
        }
        &.center {
          top: 50%;
        }
        &.bottom {
          top: 100%;
          width: 60%;
          background-color: $tint-color-1;
        }
      }
    }
    > .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      > a {
        @include backgroundDefaultStyle;
        background-size: contain;
        background-image: url('../../assets/images/shared/desktop_logo.svg');
        display: block;
        width: 3.75rem;
        height: 3.75rem;

        @include mobile {
          background-image: url('../../assets/images/shared/mobile_logo.svg');
          width: 7rem;
        }
      }
    }
    > .inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        @include absoluteFill;
        position: fixed;
        background-color: $accent-color;
        flex-direction: column;
        justify-content: center;
        top: 66px;
        display: none;

        &.active {
          display: flex;
        }
      }
      > .menus {
        width: calc(50% - 4rem);
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;

        @include mobile {
          width: 100%;
          flex-direction: column;
          align-items: center;
        }
        > li {
          color: white;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          font-size: 1.2rem;
          height: 4.4rem;
          cursor: pointer;
          font-weight: bold;
          box-sizing: border-box;

          @media screen and (min-width: 734px) {
            &:hover {
              color: $tint-color-1;

              > p {
                position: relative;

                &::after {
                  content: '';
                  width: 100%;
                  height: 5px;
                  left: 0;
                  bottom: -23px;
                  background-color: $tint-color-1;
                  position: absolute;
                }
              }
              > .limiter {
                display: flex;
              }
            }
          }
          @include mobile {
            font-size: 1.5rem;
            flex-direction: column;
            height: 100%;
            padding: 1rem;

            &.active {
              color: $face-color;

              > p {
                position: relative;

                &::after {
                  content: '';
                  width: 100%;
                  height: 3px;
                  left: 0;
                  bottom: -10px;
                  background-color: $tint-color-1;
                  position: absolute;
                }
              }
              > .limiter {
                display: flex;
              }
            }
          }

          > .limiter {
            background-color: $accent-color;
            border-top: 1px solid rgba(141, 198, 62, 0.3);
            position: absolute;
            left: 0;
            top: 70px;
            width: 100%;
            justify-content: center;
            align-items: center;
            display: none;

            @include tablet {
              top: 62px;
            }
            @include mobile {
              border-top: 0;
              position: unset;
              flex-direction: column;
              padding-top: 2rem;
            }
            > ul {
              @include flexCenterStyle;
              align-items: flex-end;
              width: 100%;
              max-width: 940px;

              @include mobile {
                flex-direction: column;
              }
              > li {
                text-align: center;
                width: 100%;

                > a {
                  @include flexCenterStyle;
                  font-weight: normal;
                  font-size: 1.5rem;
                  padding: 2rem 2rem;
                  color: $face-color;
                  white-space: nowrap;

                  @include mobile {
                    color: $tint-color-1;
                    padding: 1rem;
                  }
                  &:hover {
                    color: $tint-color-1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
