@import '../../common.scss';

.container {
  @include flexCenterStyle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.4);
  z-index: 100;

  @include mobile {
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  > .wrapper {
    width: 100%;
    max-width: 60rem;
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    > .hamberger {
      width: 2.5rem;
      height: 1.5rem;
      position: relative;
      cursor: pointer;
      display: none;

      @include mobile {
        display: block;
      }
      &.close {
        > div {
          &.top {
            transform: rotate(45deg);
            background-color: $tint-color-1;
          }
          &.center {
            transform: rotate(-45deg);
            background-color: $tint-color-1;
          }
          &.bottom {
            opacity: 0;
          }
        }
      }

      > div {
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        border-radius: 1rem;
        transition: all 0.2s ease;
        &.top {
          top: 0;
          transform-origin: 5px 6px;
        }
        &.center {
          top: 50%;
        }
        &.bottom {
          top: 100%;
          width: 60%;
          background-color: $tint-color-1;
        }
      }
    }
    > .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
        max-width: 3.6rem;
        padding-top: 8px;

        @include mobile {
          max-width: 7rem;
          padding-top: 10px;
        }
      }
    }
    > .inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        @include absoluteFill;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        flex-direction: column;
        justify-content: center;
        top: 66px;
        display: none;

        &.active {
          display: flex;
        }
      }

      > .menus {
        width: calc(50% - 4rem);
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;

        @include mobile {
          width: 100%;
          flex-direction: column;
          align-items: center;
        }

        > li {
          position: relative;

          > a {
            color: white;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            font-size: 1.2rem;
            height: 4.4rem;

            @include mobile {
              font-size: 1.5rem;
            }
            &:hover::after {
              content: '';
              position: absolute;
              right: 1rem;
              left: 1rem;
              bottom: 0;
              height: 5px;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
