@import '../../common.scss';

.header {
  @include flexCenterStyle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.4);
  z-index: 20;

  > .limiter {
    @include limiter;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      > a {
        > img {
          width: 100%;
          max-width: 4rem;
          padding-top: 8px;
        }
      }
    }

    > .gnb {
      width: calc(50% - 4rem);
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      > li {
        position: relative;
        padding: 0.5rem 0;

        > a {
          color: #fff;
          display: block;
          padding: 1rem 0;
          font-size: 1.25rem;

          &::after {
            content: '';
            transition: all 0.3s ease-in-out;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 5px;
            background-color: #fff;
          }

          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
