@import '../../common.scss';

.header {
  @include flexCenterStyle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.4);
  z-index: 100;

  @include mobile {
    background-color: #fff;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
  }

  > .limiter {
    width: 100%;
    max-width: 62.5rem;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    > .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      > a {
        > img {
          width: 100%;
          max-width: 4rem;
          padding-top: 8px;

          @include mobile {
            max-width: 7rem;
          }
        }
      }
    }

    > .inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        display: none;

        &.active {
          display: flex;
        }
      }

      > .gnb {
        width: calc(50% - 4rem);
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;

        @include mobile {
          flex-direction: column;
        }

        > li {
          position: relative;
          padding: 0.5rem 0;

          > a {
            color: #fff;
            display: block;
            padding: 1rem 0;
            font-size: 1.25rem;

            @include mobile {
              font-size: 1.8rem;
            }

            &::after {
              content: '';
              transition: all 0.3s ease-in-out;
              position: absolute;
              bottom: 0;
              left: 0;
              opacity: 0;
              width: 100%;
              height: 5px;
              background-color: #fff;
            }

            &:hover {
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
