@import '../../common.scss';

.container {
  @include backgroundDefaultStyle;
  @include flexCenterStyle;
  flex-direction: column;
  width: 100%;
  height: 25rem;

  > .title {
    color: #fff;
    font-size: 4rem;
    line-height: 1;
    font-weight: bold;
    padding-top: 4.6rem;
  }

  > .sub {
    color: #fff;
    font-size: 2rem;
    font-weight: lighter;
    padding: 1rem 0 5rem 0;
  }
}
