@import '../../common.scss';

.container {
  display: none;

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4rem;
    height: 2.5rem;
    cursor: pointer;

    &.active {
      > div {
        &.top {
          transform: rotate(45deg) translate(10px, 10px);
          width: 80%;
        }
        &.middle {
          transform: rotate(-45deg);
          width: 80%;
        }
        &.bottom {
          opacity: 0;
        }
      }
    }

    > div {
      transform-origin: center center;
      transition: all 0.2s ease;
      height: 3px;
      border-radius: 3px;

      &.top {
        width: 100%;
        background-color: #212121;
      }

      &.middle {
        width: 100%;
        background-color: #212121;
      }

      &.bottom {
        width: 50%;
        background-color: #7bcc2f;
      }
    }
  }
}
