@import '../../common.scss';

.container {
  @include flexCenterStyle;
  @include limiter;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  > .nav {
    width: 100%;
    background-color: #f5f3ef;
    @include flexCenterStyle;

    > li {
      position: relative;
      text-align: center;
      width: 15%;

      &.active {
        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          width: 60%;
          height: 5px;
          background-color: #06542c;
          content: '';
        }
      }
      > a {
        display: block;
        font-weight: bold;
        padding: 2rem 1rem;
        white-space: nowrap;
        color: #06542c;
        box-sizing: border-box;
        font-size: 1.5rem;
      }
    }
  }
}
