@import '../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  padding: 8rem 0;

  > p {
    color: #221e1f;
    font-size: 2.625rem;
    line-height: 1.5;
    font-weight: lighter;
  }

  > h2 {
    color: #221e1f;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
  }
}
