@import '../../common.scss';

.container {
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 100;

  @include mobile {
    right: 1rem;
    bottom: 2rem;
  }
  > ul {
    > li {
      @include flexCenterStyle;
      flex-direction: column;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);

      @include mobile {
        width: 50px;
        height: 50px;
      }
      &.shop {
        background-color: $tint-color-1;

        > a {
          @include flexCenterStyle;
          flex-direction: column;

          > .icon {
            background-image: url('../../assets/images/shared/shop_icon.svg');
            background-position: left;
            width: 2rem;
          }
        }
      }
      &.top {
        margin-top: 1.5rem;
        background-color: $accent-color;

        &.close {
          display: none;
        }
        > .icon {
          background-image: url('../../assets/images/shared/top_icon.svg');
        }
      }
      span {
        color: #fff;
        font-size: 1.125rem;

        &.title {
          @include mobile {
            display: none;
          }
        }
        &.icon {
          @include backgroundDefaultStyle;
          background-size: contain;
          width: 1.5rem;
          height: 1.5rem;
          margin-bottom: 0.5rem;

          @include mobile {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
