@import '../../common.scss';

.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  > .tabs {
    width: 100%;
    max-width: 72rem;
    background-color: $face-color;
    display: flex;
    justify-content: center;

    > li {
      @include flexCenterStyle;
      width: 20%;

      > a {
        color: $accent-color;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-size: 1.4rem;
        font-weight: bold;
        height: 4.4rem;
      }
      &.active {
        > a {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            right: 1rem;
            left: 1rem;
            bottom: 0;
            height: 5px;
            background-color: $accent-color;
          }
        }
      }
    }
  }
}
