@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  padding: 6.25rem 0;
  background-color: #f5f3ef;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;
    flex-direction: column;

    > .title {
      @include subTitle;
    }

    > div {
      width: 100%;
      border-top: 4px solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 3.125rem 5rem;
      box-sizing: border-box;

      &.pulmuone {
        border-top-color: #77b71d;
        margin-bottom: 4rem;

        > .text {
          > .title {
            color: #77b71d;
          }
        }
      }

      &.nestle {
        border-top-color: #0a55a5;

        > .text {
          > .title {
            color: #0a55a5;
          }
        }
      }

      > img {
        width: 100%;
        max-width: 14.375rem;
      }

      > .text {
        padding-left: 5rem;

        > .title {
          font-size: 2.5rem;
          padding-bottom: 2rem;

          > span {
            font-weight: bold;
          }
        }

        > p {
          color: #212121;
          font-size: 1.5rem;
          line-height: 1.8;
        }
      }
    }
  }
}
