@import '../../../common.scss';

.container {
  @include backgroundDefaultStyle;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 61.25rem;
  position: relative;
  overflow: hidden;

  > .limiter {
    @include limiter;

    > .text {
      padding-top: 10rem;
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
      line-height: 1.5;

      > span {
        display: block;
        padding-top: 0.5rem;
      }
    }
  }

  > .objects {
    @include absoluteFull;

    > img {
      position: absolute;
      transform: translate(0, -50%);
      width: 100%;

      &.left {
        left: -12.5rem;
        top: 20%;
        max-width: 25rem;
      }

      &.right {
        right: -30rem;
        top: 50%;
        max-width: 50rem;
      }
    }
  }

  > .water {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
