@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  width: 100%;

  > .nav {
    width: 100%;
    border-top: 4px solid $accent-color;
    background-color: white;

    > ul {
      @include flexCenterStyle;
      cursor: pointer;

      > li {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        padding: 1.25rem 0;
        line-height: 1;

        &.active {
          font-weight: bold;
          color: $accent-color;
          background-color: #f0ede7;
        }
      }
    }
  }

  > .table {
    width: 100%;
    margin-top: 2.5rem;

    > .head {
      border-top: 1px solid #121212;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border-bottom: 1px solid rgba(65, 54, 40, 0.3);

      > li {
        padding: 1rem;
        box-sizing: border-box;
        color: $accent-color;
        font-size: 1.5rem;
        font-weight: bold;

        &:nth-child(1) {
          width: 10%;
        }
        &:nth-child(2) {
          width: 70%;
        }
        &:nth-child(3) {
          width: 20%;
        }
      }
    }

    > .body {
      > li {
        border-bottom: 1px solid rgba(65, 54, 40, 0.3);
        font-size: 1.25rem;
        font-weight: bold;

        > ul {
          display: flex;
          justify-content: center;
          align-items: flex-end;

          > li {
            padding: 1rem;
            box-sizing: border-box;

            &:nth-child(1) {
              width: 10%;
            }
            &:nth-child(2) {
              width: 70%;
            }
            &:nth-child(3) {
              width: 20%;
            }
          }
        }
      }
    }
  }
}
