@import '../../../common.scss';

.container {
  @include backgroundDefaultStyle;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 61.25rem;
  position: relative;
  overflow: hidden;

  > .limiter {
    @include limiter;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;

    > .title {
      color: #fff;
      font-size: 2.75rem;
      padding-top: 6.25rem;
      font-weight: bold;
    }

    > .text {
      padding-top: 1.25rem;
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
      line-height: 1.5;

      > span {
        display: block;
        padding-top: 0.5rem;
      }
    }
  }

  > .objects {
    @include absoluteFull;

    > img {
      position: absolute;
      transform: translate(0, -50%);
      width: 100%;

      &.left {
        left: -12.5rem;
        top: 20%;
        max-width: 25rem;
      }

      &.right {
        right: -30rem;
        top: 50%;
        max-width: 50rem;
      }

      &.bubble_left {
        max-width: 6.25rem;
        left: 20%;
        top: 50%;
      }

      &.bubble_right {
        right: 20%;
        top: 60%;
        max-width: 9rem;
      }
    }
  }

  > .bottle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
