@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  padding: 6.25rem 0;
  background-color: #f5f3ef;

  > .limiter {
    @include flexCenterStyle;
    @include limiter;
    flex-direction: column;

    > .title {
      @include subTitle;
      padding-bottom: 2.8rem;
    }

    > p {
      font-size: 1.5rem;
      color: #121212;
      line-height: 1.8;
      text-align: center;
      margin-bottom: 5.5rem;
    }

    > .list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 80rem;

      > li {
        @include flexCenterStyle;
        flex-direction: column;
        width: 32%;
        height: 100%;

        > .image {
          @include backgroundDefaultStyle;
          @include flexCenterStyle;
          width: 100%;
          min-height: 15rem;

          > p {
            color: #fff;
            font-size: 1.75rem;
          }
        }

        > .text {
          @include flexCenterStyle;
          background-color: #fff;
          height: 13rem;

          > p {
            color: #121212;
            font-size: 1.5rem;
            text-align: center;
            line-height: 1.8;
            padding: 1rem;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
