@import '../../../common.scss';

.container {
  > .section {
    @include flexCenterStyle;
    padding: 6.25rem 0;

    > .limiter {
      @include flexCenterStyle;
      @include limiter;
      flex-direction: column;

      > .map {
        width: 100%;
        height: 36.25rem;

        > iframe {
          width: 100%;
          height: 100%;
          border: 0;
        }
      }
      > .info {
        width: 100%;
        display: flex;
        padding-top: 3.125rem;

        > div {
          box-sizing: border-box;

          &.addr {
            padding-right: 7.5rem;
          }
          &.transport {
            .flex {
              display: flex;
              justify-content: space-between;

              > div {
                &.left {
                  padding-right: 7.5rem;
                }
                > h5 {
                  color: $accent-color;
                  font-size: 1.5rem;
                  border-bottom: 1px solid $accent-color;
                  font-weight: bold;
                  margin-bottom: 0.5rem;
                  padding-bottom: 0.5rem;
                }
              }
            }
          }
          > .title {
            color: $accent-color;
            font-size: 2.6rem;
            font-weight: bold;
            padding-bottom: 2rem;
          }
          > ul > li {
            padding-bottom: 1rem;

            > .title {
              color: $tint-color;
              font-size: 1.6rem;
              padding-bottom: 0.5rem;
            }
            p {
              font-size: 1.4rem;
              line-height: 2;

              > span {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
