@import '../../../common.scss';

.container {
  > .section {
    @include flexCenterStyle;
    flex-direction: column;
    padding: 6.25rem 0;
    text-align: center;

    &.top {
      background-color: #bed734;

      > .limiter {
        @include limiter;

        > h3 {
          color: #fff;
          font-size: 2.75rem;
          font-weight: bold;
        }

        > p {
          font-size: 1.5rem;
          color: #fff;
          line-height: 1.8;
          padding: 2rem 0;
        }

        > h4 {
          color: #fff;
          font-weight: bold;
          font-size: 2.25rem;
          line-height: 2;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 35%;
            height: 1px;
            background-color: #fff;
          }

          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 35%;
            height: 1px;
            background-color: #fff;
          }
        }

        > .list {
          margin-top: 2rem;
          display: flex;
          justify-content: space-between;

          > li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            width: 15%;
            padding: 2.5rem 0;
            border-radius: 1rem;

            > img {
              height: 100%;
              width: auto;
            }
            > p {
              color: #000;
              font-size: 1.125rem;
              font-weight: bold;
              line-height: 1.5;
              padding-top: 2rem;
            }
          }
        }
      }
    }

    &.bottom {
      background-color: #f5f3ef;

      > .limiter {
        @include limiter;

        > h3 {
          color: #121212;
          font-size: 2.75rem;
          font-weight: bold;
        }
        > p {
          color: #121212;
          font-size: 1.5rem;
          padding: 3rem;
        }

        > .list {
          display: flex;
          justify-content: space-between;

          > li {
            @include flexCenterStyle;
            flex-direction: column;
            border-radius: 1rem;
            background-image: linear-gradient(to bottom, #7bcc2f 0% 30%, #fff 30% 70%);
            padding: 1rem 2rem;
            box-sizing: border-box;
            width: 100%;
            margin-right: 1.25rem;

            &:last-child {
              margin-right: 0;
            }

            > h4 {
              color: #fff;
              font-size: 2.25rem;
              font-weight: bold;
              padding-bottom: 1rem;
            }

            > img {
              height: 21.25rem;
            }
            > p {
              color: #121212;
              font-size: 1.25rem;
              line-height: 1.5;
              font-weight: lighter;
              padding: 0.5rem 0;

              > .point {
                display: block;
                font-weight: bold;
                color: #06542c;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
