@import '../../common.scss';

$dew-size: 110px * 0.5;

.dew {
  @include backgroundDefaultStyle;
  position: fixed;
  z-index: 100;
  width: $dew-size;
  height: $dew-size;
  left: calc(50% - ($dew-size / 2));
  top: calc(50% + ($dew-size / 3));
  display: none;
  background-image: url('../../assets/images/home/water.png');
}
