@import '../../common.scss';

.waterDrop {
  position: fixed;
  z-index: 8;
  left: 50%;
  top: calc(50% + 36px);
  transform: translate(-50%, -50%);
  display: none;

  @include tablet {
    top: calc(50% + 27.5px);
  }

  @include mobile {
    top: calc(50% + 23px);
  }

  > img {
    width: 100%;
    max-width: 3rem;
  }
}
