.waterDrop {
  position: fixed;
  z-index: 8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  > img {
    transition: 0.1s ease-in-out;
    width: 100%;
    max-width: 3rem;

    &.active {
      transform: scaleX(0.8);
    }
  }
}
