@import '../../common.scss';

.container {
  @include backgroundDefaultStyle;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  background-image: url('../../assets/images/home/s01/background.jpg');
  overflow: hidden;

  > .circle {
    margin-top: 72px;
    background-color: #004217;
    overflow: hidden;
    width: 72vh;
    height: 72vh;
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px #000000ad;
    transform: translateZ(0);

    @include tablet {
      margin-top: 60px;
      width: 50vh;
      height: 50vh;
    }
    @include mobile {
      width: 80vw;
      height: 80vw;
      margin-top: 66px;
    }

    > .circleInner {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mobile {
        margin-top: 9vw;
      }
      > .title {
        @include fontEn;
        color: white;
        font-size: 4rem;
        text-align: center;
        text-shadow: 0 0 24px black;

        @include mobile {
          font-size: 9vw;
        }
      }
      > .bottle {
        width: 40%;
      }
    }
  }
}
