@import '../../common.scss';

.container {
  @include backgroundDefaultStyle;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 880px;
  background-image: url('../../assets/images/home/s01/background.jpg');

  > .circle {
    margin-top: 72px;
    background-color: #004217;
    overflow: hidden;
    width: 72vh;
    min-width: 640px;
    height: 72vh;
    min-height: 640px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px #000000ad;

    > .circleInner {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      > .title {
        @include fontEn;
        color: white;
        font-size: 4rem;
        text-align: center;
        text-shadow: 0 0 24px black;
      }
      > .bottle {
        width: 40%;
      }
    }
  }
}
