@import '../../common.scss';

.container {
  @include flexCenterStyle;
  width: 100%;
  height: 100vh;
  position: relative;

  > .background {
    @include backgroundDefaultStyle;
    background-position: center top;
    position: absolute;
    width: 100%;
    left: 0;

    &.sand1 {
      top: -160px;
      z-index: 10;
      height: 64vh;
      background-image: url('../../assets/images/home/s03/sandTop.png');
    }
    &.sand2 {
      top: -80px;
      z-index: 20;
      height: 48vh;
      background-image: url('../../assets/images/home/s03/sandMiddle.png');
    }
    &.sand3 {
      top: 0;
      z-index: 30;
      height: 100%;
      background-image: url('../../assets/images/home/s03/sandBottom.png');
    }
  }
  > .limiter {
    width: 100%;
    max-width: 1024px;
    display: flex;
    height: 48vh;
    z-index: 40;
    justify-content: space-between;

    @include desktop {
      padding: 0 2rem;
      box-sizing: border-box;
    }
    @include mobile {
      padding: 0 2rem;
      box-sizing: border-box;
      flex-direction: column;
      margin-top: 66px;
      height: 60vh;
    }
    > div {
      width: fit-content;
      display: flex;

      &.left {
        > p {
          font-size: 2.6rem;

          @include mobile {
            font-size: 2rem;
          }
          > .accent {
            display: block;
            font-size: 3.6rem;

            @include mobile {
              font-size: 3rem;
            }
          }
        }
      }
      &.right {
        align-items: flex-end;

        > p {
          font-size: 1.6rem;
          line-height: 1.8;

          @include mobile {
            > br {
              display: none;
            }
          }
        }
      }
    }
  }
  > .dews {
    @include absoluteFill;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 50;
    padding: 8rem;
    box-sizing: border-box;

    @include mobile {
      padding: 0 2rem;
    }
    > img {
      width: 100%;

      &:first-child {
        max-width: 16rem;

        @include mobile {
          max-width: 10rem;
        }
      }
      &:last-child {
        max-width: 8rem;
      }
    }
  }
}
