@import '../../common.scss';

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;

  @include tablet {
    flex-direction: column;
  }
  @include mobile {
    min-height: auto;
    flex-direction: column;
  }
  > div {
    width: 50%;

    @include tablet {
      width: 100%;
      height: 50vh;
    }
    @include mobile {
      width: 100%;
    }
    &.background {
      @include backgroundDefaultStyle;
      background-position: left center;
      background-image: url('../../assets/images/home/s05/background.jpg');

      @include mobile {
        min-height: 50vh;
      }
    }

    &.detail {
      @include flexCenterStyle;
      background-color: $accent-color;

      @include mobile {
        height: auto;
      }
      > .info {
        padding: 10rem 2rem;
        box-sizing: border-box;

        @include tablet {
          width: 100%;
          padding: 5rem 2rem;
        }
        @include mobile {
          width: 100%;
          padding: 5rem 2rem;
        }
        > h2 {
          color: white;
          font-size: 3.2rem;
          line-height: 1.6;
          letter-spacing: 1px;

          @include mobile {
            font-size: 2.6rem;
          }
        }
        > p {
          font-size: 2rem;
          line-height: 1.6;
          color: white;
          padding-top: 2rem;

          @include mobile {
            font-size: 1.5rem;
            line-height: 1.8;
          }
        }
        > a {
          @include homeBtn;
          color: $accent-color;
          background-color: white;
          margin-top: 8rem;

          @include mobile {
            margin-top: 4rem;
          }
          &:hover {
            background-color: #bfd62f;
            color: white;
          }
        }
      }
    }
  }
}
