@import '../../common.scss';

.container {
  @include backgroundDefaultStyle;
  @include flexCenterStyle;
  background-image: url('../../assets/images/home/s06/background.jpg');
  width: 100%;
  padding: 8rem 0;

  > .limiter {
    @include limiter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;

    > .info {
      > h2 {
        color: white;
        font-size: 3.2rem;
        line-height: 1.6;
      }
      > .logo {
        @include flexCenterStyle;
        display: none;

        > img {
          width: 70%;
        }
      }
      > p {
        font-size: 1.6rem;
        line-height: 1.8;
        color: white;
        padding-top: 2rem;
      }
      > a {
        @include homeBtn;
        background-color: white;
        color: #133550;
        margin-top: 4rem;

        &:hover {
          background-color: #133550;
          color: white;
        }
      }
    }
    > .logo {
      @include flexCenterStyle;
      background-color: white;
      width: 18rem;
      height: 18rem;
      border-radius: 50%;

      > img {
        width: 100%;
        max-width: 12rem;
      }
    }
  }
}
