@import '../../common.scss';

.container {
  @include backgroundDefaultStyle;
  @include flexCenterStyle;
  background-image: url('../../assets/images/home/s06/background.jpg');
  width: 100%;
  padding: 8rem 0;

  @include mobile {
    padding: 5rem 0;
  }

  > .limiter {
    @include limiter;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .info {
      > h2 {
        color: white;
        font-size: 3.2rem;
        line-height: 1.6;

        @include tablet {
          padding-bottom: 2rem;
        }
        @include mobile {
          font-size: 2.6rem;
          padding-bottom: 2rem;
        }
      }
      > .logo {
        @include flexCenterStyle;
        background-color: white;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        display: none;

        @include tablet {
          display: flex;
        }
        @include mobile {
          display: flex;
        }
        > img {
          width: 70%;
        }
      }
      > p {
        font-size: 1.6rem;
        line-height: 1.8;
        color: white;
        padding-top: 2rem;

        @include mobile {
          > br {
            display: none;
          }
        }
      }
      > a {
        @include homeBtn;
        background-color: white;
        color: #133550;
        margin-top: 4rem;

        &:hover {
          background-color: #133550;
          color: white;
        }
      }
    }
    > .logo {
      @include flexCenterStyle;
      background-color: white;
      width: 18rem;
      height: 18rem;
      border-radius: 50%;

      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }
      > img {
        width: 100%;
        max-width: 12rem;
      }
    }
  }
}
