@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  padding-bottom: 9.375rem;
  background-color: #f5f3ef;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;

    > .content {
      background-color: #06542c;
      padding: 4.875rem 10rem;
      text-align: center;
      box-sizing: border-box;

      > h3 {
        color: #fff;
        font-size: 2.75rem;
        font-weight: bold;
        padding-bottom: 2.5rem;
      }

      > p {
        color: #fff;
        font-size: 1.5rem;
        line-height: 1.8;
      }
    }
  }
}
