@import '../../../common.scss';

.container {
  @include backgroundDefaultStyle;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 61.25rem;
  position: relative;
  overflow: hidden;

  > .limiter {
    @include limiter;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;

    > .title {
      color: #fff;
      font-size: 2.75rem;
      padding-top: 6.25rem;
      font-weight: bold;
    }

    > .text {
      padding-top: 1.25rem;
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
      line-height: 1.8;
    }
  }

  > .objects {
    @include absoluteFull;

    > img {
      position: absolute;

      &.left {
        width: 100%;
        max-width: 26.25rem;
        left: -2rem;
        top: 40%;
      }

      &.right {
        width: 100%;
        max-width: 31.25rem;
        right: 0;
        top: 0;
      }

      &.bubleeLeft {
        width: 100%;
        max-width: 18.75rem;
        top: 30%;
        left: 15%;
      }

      &.bubbleRight {
        width: 100%;
        max-width: 18.75rem;
        top: 40%;
        right: 15%;
      }
    }
  }

  > .bigbottle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
