@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  padding: 6.25rem 0;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;
    flex-direction: column;

    > .box {
      margin-top: 6.25rem;
    }

    > .precautions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      box-sizing: border-box;
      background-color: #f4f4f4;
      border-radius: 1rem;

      > h3 {
        font-size: 1.5rem;
        color: #121212;
        padding-right: 2rem;
        font-weight: bold;
        white-space: nowrap;
      }

      > p {
        font-size: 1.25rem;
        color: #121212;
        line-height: 1.8;
      }
    }
  }
}
