@import '../../common.scss';

.carousel {
  width: 100%;
  line-height: 0;

  .item {
    display: flex;
    flex-direction: column;

    > .image {
      @include backgroundDefaultStyle;
      width: 100%;
      position: relative;
      height: 15rem;

      > .number {
        @include flexCenterStyle;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        color: #fff;
        background-color: #06542c;
        font-size: 1.25rem;
      }

      > img {
        width: 100%;
      }
    }

    > .text {
      @include flexCenterStyle;
      padding: 1.5rem;
      box-sizing: border-box;
      background-color: #fff;
      font-size: 1.25rem;
      color: #212121;
      line-height: normal;
      height: 4.5rem;
    }
  }

  > .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .pager {
      display: flex;
      align-items: center;

      > span {
        display: block;
        width: 12px;
        height: 12px;
        border-right: 50%;
        background-color: #06542c;
        opacity: 0.3;

        &.bulletsActive {
          opacity: 1;
        }
      }
    }

    > .nav {
      @include flexCenterStyle;
      > button {
        @include flexCenterStyle;
        border: 0;
        width: 3.125rem;
        height: 3.125rem;
        background-color: #06542c;
        cursor: pointer;

        &.prev {
        }

        &.next {
        }

        > img {
          width: 100%;
          max-width: 0.8rem;
        }
      }
    }
  }
}
