@import '../../common.scss';

.container {
  @include flexCenterStyle;
  width: 100%;
  flex-direction: column;

  > .title {
    color: #121212;
    font-size: 2.75rem;
    padding-bottom: 4.75rem;
    font-weight: bold;
  }

  > .products {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6.25rem;

    &.green {
      > li {
        > .title {
          color: #03542c;
        }

        > .price {
          background-color: #03542c;
        }
      }
    }

    &.blue {
      > li {
        > .title {
          color: #005f9a;
        }

        > .price {
          background-color: #005f9a;
        }
      }
    }

    > li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-right: 1px solid #d5d5d5;
      text-align: center;
      padding: 0 4rem;
      box-sizing: border-box;

      &:last-child {
        border-right: 0;
      }

      > .title {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 1rem;
        white-space: nowrap;

        > .sub {
          font-size: 1.25rem;
          display: block;
          padding-bottom: 0.8rem;
          font-weight: normal;
        }
      }

      > .image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        min-height: 12.5rem;
      }

      > .price {
        @include flexCenterStyle;
        width: fit-content;
        color: #fff;
        font-weight: bold;
        padding: 0.375rem 1.875rem;
        margin: 2rem 0 1.3rem 0;
        border-radius: 30px;
        font-size: 1.5rem;
      }

      > .info {
        font-size: 1.25rem;
        color: #212121;

        > span {
          line-height: 1.5;
          display: block;
          white-space: nowrap;
        }
      }
    }
  }
}
