@import '../../common.scss';

.container {
  @include flexCenterStyle;
  width: 100%;
  flex-direction: column;

  > .title {
    font-size: 2.6rem;
    padding-bottom: 4.75rem;
    font-weight: bold;
    text-align: center;
  }
  > .products {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6.25rem;

    @media screen and (max-width: 1440px) {
      flex-wrap: wrap;
    }
    @include mobile {
      flex-direction: column;
    }
    &.green {
      > li {
        > .title {
          color: $accent-color;
        }
        > .price {
          background-color: $accent-color;
        }
      }
    }
    &.blue {
      > li {
        > .title {
          color: #005f9a;
        }
        > .price {
          background-color: #005f9a;
        }
      }
    }
    > li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-right: 1px solid #d5d5d5;
      text-align: center;
      padding: 0 4rem;
      box-sizing: border-box;

      @media screen and (max-width: 1440px) {
        width: 50%;
        margin-bottom: 3rem;
        border: 0;
      }
      @include mobile {
        width: 100%;
        margin-bottom: 5rem;
        border: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
      &:last-child {
        border-right: 0;
      }
      > .title {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 1rem;
        white-space: nowrap;

        > .sub {
          font-size: 1.2rem;
          display: block;
          font-weight: normal;
        }
      }
      > .image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        min-height: 12.5rem;
      }
      > .price {
        @include flexCenterStyle;
        width: fit-content;
        color: white;
        font-weight: bold;
        padding: 0.375rem 1.8rem;
        margin: 2rem 0 0;
        border-radius: 30px;
        font-size: 1.4rem;
      }
      > .info {
        margin-top: 1rem;
        font-size: 1.2rem;

        > span {
          line-height: 1.5;
          display: block;
          white-space: nowrap;
        }
      }
    }
  }
}
