@import '../../common.scss';

.container {
  text-align: center;
  margin-bottom: 3.5rem;
  width: 100%;
  max-width: 72rem;

  &.green {
    > .table {
      &::-webkit-scrollbar-thumb {
        background-color: $tint-color-1;
      }
      > .head {
        > li {
          background-color: $tint-color-2;
        }
      }
      > .body {
        .point {
          background-color: $tint-color-2;
        }
      }
    }
  }
  &.blue {
    > .table {
      &::-webkit-scrollbar-thumb {
        background-color: $tint-color-3;
      }
      > .head {
        > li {
          background-color: $tint-color-3;
        }
      }
      > .body {
        .point {
          background-color: $tint-color-3;
        }
      }
    }
  }
  > .title {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
  }
  > .table {
    overflow: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 8px;
    }
    > .head {
      @include flexCenterStyle;
      align-items: inherit;
      margin-top: 0.5rem;
      border-bottom: 2px solid white;

      @include mobile {
        min-width: 700px;
      }
      > li {
        @include flexCenterStyle;
        border-right: 2px solid white;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0.75rem;
        width: 100%;

        &.side {
          text-indent: -9999px;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
    > .body {
      @include mobile {
        min-width: 700px;
      }
      > li {
        border-bottom: 2px solid white;
        box-sizing: border-box;

        &:last-child {
          border-bottom: 0;
        }
        > ul {
          @include flexCenterStyle;
          align-items: inherit;
          width: 100%;

          > li {
            @include flexCenterStyle;
            border-right: 2px solid white;
            background-color: #f4f4f4;
            line-height: 1;
            box-sizing: border-box;
            font-size: 1.4rem;
            width: 100%;
            font-weight: bold;
            padding: 1rem 0;

            &:last-child {
              border-right: 0;
            }
          }
        }
      }
    }
  }
}
