@import '../../common.scss';

.container {
  text-align: center;
  margin-bottom: 3.5rem;
  width: 100%;
  max-width: 72rem;

  &.green {
    > .head {
      > li {
        background-color: $tint-color-2;
      }
    }
    > .body {
      .point {
        background-color: $tint-color-2;
      }
    }
  }
  &.blue {
    > .head {
      > li {
        background-color: #64bae8;
      }
    }
    > .body {
      .point {
        background-color: #64bae8;
      }
    }
  }
  > .title {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  > .head {
    @include flexCenterStyle;
    margin-top: 0.5rem;
    border-bottom: 2px solid white;

    > li {
      border-right: 2px solid white;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 0.75rem 0;
      width: 100%;

      &.side {
        text-indent: -9999px;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
  > .body > li {
    border-bottom: 2px solid white;
    box-sizing: border-box;

    &:last-child {
      border-bottom: 0;
    }
    > ul {
      @include flexCenterStyle;
      width: 100%;

      > li {
        border-right: 2px solid white;
        background-color: #f4f4f4;
        line-height: 1;
        box-sizing: border-box;
        font-size: 1.4rem;
        width: 100%;
        font-weight: bold;
        padding: 1rem 0;

        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}
