@import '../../common.scss';

.container {
  > .section {
    @include flexCenterStyle;
    padding: 6rem 0 4rem;

    > .limiter {
      @include limiter;
      display: flex;

      > .info {
        width: 50%;

        > .text {
          border-left: 2px solid #bfd62f;
          padding: 0 2rem;
          margin-bottom: 8rem;

          &:last-child {
            margin-bottom: 0;
          }
          > h3 {
            font-size: 2.5rem;
            color: $tint-color;
            margin-bottom: 3.6rem;
            font-weight: bold;
            line-height: 1.5;
          }
          > p {
            font-size: 1.6rem;
            line-height: 1.8;
            margin-bottom: 4rem;

            &.light {
              font-weight: lighter;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      > .illust {
        width: 50%;
        position: relative;

        > div {
          @include absoluteFill;
          @include backgroundDefaultStyle;

          &.coloring {
            z-index: 20;
            mask-image: url('../../assets/images/brand/granite/mask.jpg');
            mask-repeat: no-repeat;
            mask-position: center top;
            mask-size: 100% 0;
            background-image: url('../../assets/images/brand/granite/illust-coloring.png');
          }
          &.sketch {
            z-index: 10;
            background-image: url('../../assets/images/brand/granite/illust-sketch.jpg');
          }
        }
      }
    }
  }
}
