@import '../../common.scss';

.container {
  > .section {
    @include flexCenterStyle;
    flex-direction: column;
    padding: 6.25rem 0;

    &.top {
      background-color: #bed730;

      > .limiter {
        @include limiter;
        @include flexCenterStyle;
        flex-direction: column;

        > h3 {
          color: white;
          font-size: 2.75rem;
          line-height: 1.5;
          text-align: center;
          margin-bottom: 3.5rem;
        }
        > .center {
          width: 100%;
          max-width: 61.25rem;
          height: 46.25rem;
          position: relative;

          > .desc {
            position: absolute;
            z-index: 3;

            &.fisrt {
              left: 5%;
              top: 33%;
            }
            &.second {
              top: 2%;
              right: 0;
            }
            &.third {
              right: 0;
              top: 51%;
            }
            > h4 {
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              padding-bottom: 1rem;

              > span {
                &.number {
                  display: inline-block;
                  width: 2.5rem;
                  height: 2.5rem;
                  font-size: 1.5rem;
                  border-radius: 50%;
                  line-height: 2.5rem;
                  text-align: center;
                  color: #bed730;
                  background-color: white;
                }
                &.title {
                  padding-left: 1rem;
                  color: white;
                  font-size: 2rem;
                }
              }
            }
            > p {
              font-size: 1.5rem;
              line-height: 1.8;
            }
          }
          > img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: auto;
          }
        }
        > .text {
          width: 100%;
          border-right: 4px solid #004d1c;
          border-left: 4px solid #004d1c;
          background-color: white;
          padding: 5rem 0;
          text-align: center;
          margin-top: -5rem;

          > p {
            font-size: 1.5rem;
            line-height: 2;
            padding-bottom: 1rem;
          }
        }
      }
    }
    &.center {
      > .limiter {
        @include limiter;
        text-align: center;

        > h3 {
          @include sectionTitle;
          margin-bottom: 4.75rem;
        }
        > .list {
          display: flex;
          justify-content: space-evenly;

          > li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            > img {
              height: 18.125rem;
              width: auto;
              margin: auto;
            }
            > .info {
              margin-top: 1rem;

              > h4 {
                font-size: 1.5rem;
                font-weight: bold;
                padding-bottom: 1rem;
              }
              > p {
                font-size: 1.25rem;
                font-weight: lighter;
              }
            }
          }
        }
      }
    }
    &.bottom {
      background-color: #edf5f9;
      text-align: center;

      > .limiter {
        @include limiter;

        > h3 {
          @include sectionTitle;
          margin-bottom: 2rem;
        }
        > img {
          width: 100%;
          max-width: 20rem;
          margin-bottom: 2rem;
        }
        > p {
          font-size: 1.5rem;
          line-height: 1.8;
        }
      }
    }
  }
}
