@import '../../common.scss';

.container {
  @include flexCenterStyle;
  width: 100%;
  min-height: 100vh;
  position: relative;

  > .circle {
    position: absolute;
    left: 50%;
    top: calc(50% + 36px);
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #004217;
    overflow: hidden;
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px #000000ad;

    @include tablet {
      top: calc(50% + 27.5px);
      width: 50vh;
      height: 50vh;
    }

    @include mobile {
      top: calc(50% + 23px);
      width: 35vh;
      height: 35vh;
    }

    @include vertical_tablet {
      top: calc(50% + 27px);
    }

    > .title {
      @include fontEn;
      color: #fff;
      font-size: 6.5vh;
      padding-top: 14%;
      text-align: center;
      white-space: nowrap;

      @include tablet {
      }

      @include mobile {
        font-size: 5vh;
      }

      &::selection {
        background-color: #bfd62f;
      }
    }

    > .pulmuoneWater {
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, 0);
      width: 40%;

      @include tablet {
        top: 45%;
      }
    }
  }

  > .background {
    @include backgroundDefaultStyle;
    @include absoluteFull;
    z-index: 1;
  }
}
