@import '../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;

  .title {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
    z-index: 5;
    padding-top: 8.75rem;
    color: #fff;
    font-size: 3.125rem;
    text-align: center;

    > .point {
      font-weight: bold;
      display: block;
      font-size: 5rem;
    }
  }

  > .limiter {
    @include mainLimiter;
    height: 50%;
    position: relative;
    z-index: 15;

    @include tablet {
      flex-direction: column;
    }

    > div {
      width: fit-content;
      display: flex;

      &.left {
        align-items: flex-start;

        > p {
          color: #fff;
          font-size: 2.625rem;

          > .point {
            display: block;
            font-size: 3.5rem;
            color: #fff;
            transition: all 0.1s ease;

            &:hover {
              color: #bfd62f;
              border-bottom: 1px solid #bfd62f;
            }
          }
        }
      }

      &.right {
        align-items: flex-end;
        position: relative;
        width: 100%;
        max-width: 23rem;

        > p {
          position: absolute;
          bottom: 0;
          left: 0;
          color: #fff;
          font-size: 1.625rem;
          line-height: 1.5;

          @include mobile {
            > br {
              display: none;
            }
          }
        }
      }
    }
  }

  > .objects {
    @include absoluteFull;

    > .leaf {
      z-index: 8;
      position: absolute;
      width: 100%;

      &.left {
        transform-origin: left bottom;
        left: -50px;
        bottom: -100px;
        max-width: 50vw;
      }

      &.right {
        transform-origin: right bottom;
        right: -30px;
        top: 30px;
        max-width: 30vw;

        @include mobile {
          right: 0;
        }
      }

      &.bottom {
        transform-origin: center bottom;
        top: -10vw;
        transform: rotate(-10deg);
        right: 5vw;
        max-width: 20vw;
      }
    }

    > .stone {
      position: absolute;
      width: 100%;
      z-index: 7;

      &.first {
        bottom: -10vw;
        left: -5%;
        max-width: 40vw;

        @include mobile {
          max-width: 60vw;
        }
      }
      &.second {
        top: -10vw;
        left: 1vw;
        max-width: 30vw;
        filter: blur(1px);

        @include mobile {
          max-width: 40vw;
        }
      }
      &.third {
        top: -10vw;
        filter: blur(3px);
        right: -20%;
        max-width: 50vw;
        z-index: 9;

        @include mobile {
          max-width: 60vw;
        }
      }
    }
  }

  .shape {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: auto;
    // height: 15rem;
    height: 16vh;
  }

  > .background {
    @include backgroundDefaultStyle;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.sand {
      z-index: 2;
    }

    &.stone {
      opacity: 0;
      z-index: 3;
      mask-image: url('../../assets/images/home/s02/shape.svg');
      -webkit-mask-image: url('../../assets/images/home/s02/shape.svg');
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-position: center center;
      -webkit-mask-posigin: center center;
      mask-size: 20vh;
      -webkit-mask-size: 20vh;
    }
  }
}
