@import '../../common.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;

  .title {
    position: relative;
    z-index: 5;
    padding-top: 6vw;
    color: #fff;
    font-size: 2vw;
    text-align: center;

    > .point {
      font-weight: bold;
      display: block;
      font-size: 4.5vw;
    }
  }

  > .limiter {
    @include mainLimiter;
    height: 50%;
    position: relative;
    z-index: 15;
    opacity: 0;

    > div {
      width: fit-content;
      display: flex;

      &.left {
        align-items: flex-start;

        > p {
          color: #fff;
          font-size: 2vw;

          > .point {
            color: #bfd62f;
            display: block;
            font-size: 3vw;
          }
        }
      }

      &.right {
        align-items: flex-end;

        > p {
          color: #fff;
          font-size: 1.6vw;
          line-height: 1.5;
        }
      }
    }
  }

  > .objects {
    @include absoluteFull;

    > .leaf {
      z-index: 8;
      position: absolute;
      width: 100%;

      &.left {
        transform-origin: left bottom;
        left: -50px;
        bottom: 100px;
        max-width: 50vw;
      }

      &.right {
        transform-origin: right bottom;
        right: -30px;
        top: 30px;
        max-width: 30vw;
      }

      &.bottom {
        transform-origin: center bottom;
        bottom: -1vw;
        transform: rotate(-10deg);
        right: 5vw;
        max-width: 20vw;
      }
    }

    > .stone {
      position: absolute;
      width: 100%;
      z-index: 7;

      &.first {
        bottom: -100px;
        left: -70px;
        max-width: 40vw;
      }
      &.second {
        top: -10vw;
        left: 1vw;
        max-width: 30vw;
        filter: blur(1px);
      }
      &.third {
        top: 0;
        filter: blur(3px);
        right: -20vw;
        max-width: 50vw;
      }
    }
  }

  .shape {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: calc(10vw + 20px);
    height: calc(10vw + 20px);
    mix-blend-mode: luminosity;
    filter: blur(20px);
  }

  > .background {
    @include backgroundDefaultStyle;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.sand {
      z-index: 2;
    }

    &.stone {
      opacity: 0;
      z-index: 3;
      mask-image: url('../../assets/images/home/s02/shape.svg');
      -webkit-mask-image: url('../../assets/images/home/s02/shape.svg');
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-position: center center;
      -webkit-mask-posigin: center center;
      mask-size: 10vw;
      -webkit-mask-size: 10vw;
    }
  }
}
