@import '../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;

  .title {
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translate(-50%, 0);
    z-index: 5;
    color: #fff;
    font-size: 3.125rem;
    text-align: center;
    white-space: nowrap;

    > .point {
      font-weight: bold;
      display: block;
      font-size: 5rem;
    }
  }

  > .limiter {
    @include mainLimiter;
    position: relative;
    z-index: 15;

    @include tablet {
      flex-direction: column;
    }

    > div {
      width: fit-content;
      display: flex;

      &.left {
        align-items: flex-start;

        > p {
          color: #fff;
          font-size: 2.625rem;

          > .point {
            display: block;
            font-size: 3.5rem;
            color: #fff;
            transition: all 0.1s ease;

            &:hover {
              color: #bfd62f;
              border-bottom: 1px solid #bfd62f;
            }
          }
        }
      }

      &.right {
        align-items: flex-end;
        position: relative;
        width: 100%;
        max-width: 23rem;

        > p {
          position: absolute;
          bottom: 0;
          left: 0;
          color: #fff;
          font-size: 1.625rem;
          line-height: 1.5;
        }
      }
    }
  }

  > .objects {
    @include absoluteFull;
    font-size: 10px;

    @include tablet {
      font-size: 8px;
    }

    @include mobile {
      font-size: 6px;
    }

    > .leaf {
      z-index: 8;
      position: absolute;
      width: 100%;
      transition: all 0.2s ease;

      &.left {
        transform-origin: left bottom;
        left: -5em;
        bottom: -10em;
        max-width: 80em;

        @include tablet {
          bottom: 0;
          left: -10em;
          max-width: 80em;
        }

        @include mobile {
          max-width: 50em;
        }
      }

      &.right {
        transform-origin: right bottom;
        right: -3em;
        top: -10em;
        max-width: 60em;

        @include tablet {
          top: 10em;
        }

        @include mobile {
          max-width: 40em;
        }
      }
    }

    > .stone {
      position: absolute;
      width: 100%;
      transition: all 0.2s ease;
      z-index: 7;

      &.first {
        bottom: 0;
        left: -10em;
        max-width: 72em;

        @include mobile {
          bottom: -20em;
          max-width: 50em;
        }
      }
      &.second {
        top: -30em;
        left: 0;
        max-width: 64em;
        filter: blur(1px);

        @include tablet {
          left: -20em;
        }

        @include mobile {
          left: -30em;
          top: -20em;
        }
      }
      &.third {
        top: -42em;
        right: -44em;
        max-width: 100em;

        @include tablet {
          right: -50em;
        }

        @include mobile {
          max-width: 80em;
          right: -30em;
          top: -30em;
        }
      }
    }
  }

  .shape {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: calc(50% + 36px);
    transform: translate(-50%, -50%);
    z-index: 3;
    width: auto;
    height: 16vh;

    @include tablet {
      top: calc(50% + 27.5px);
    }

    @include mobile {
      top: calc(50% + 23px);
    }

    @include vertical_tablet {
      top: calc(50% + 32px);
    }
  }

  > .background {
    @include backgroundDefaultStyle;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.sand {
      z-index: 2;
    }

    &.stone {
      z-index: 3;
      opacity: 1;
      mask-image: url('../../assets/images/home/s02/shape.svg');
      -webkit-mask-image: url('../../assets/images/home/s02/shape.svg');
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-position: center calc(50% + 36px);
      -webkit-mask-posigin: center calc(50% + 36px);
      mask-size: auto 300vh;
      -webkit-mask-size: auto 300vh;
      transform: scale(1.5);

      @include tablet {
        mask-position: center calc(50% + 27.5px);
        -webkit-mask-posigin: center calc(50% + 27.5px);
      }

      @include mobile {
        mask-position: center calc(50% + 23px);
        -webkit-mask-posigin: center calc(50% + 23px);
      }

      @include vertical_tablet {
        mask-position: center calc(50% + 32px);
        -webkit-mask-posigin: center calc(50% + 32px);
      }
    }
  }
}
