@import '../../common.scss';

.container {
  @include flexCenterStyle;
  margin-top: -40px;
  width: 100%;
  height: 100vh;
  position: relative;

  > .background {
    @include backgroundDefaultStyle;
    background-position: center top;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    &.sand1 {
      z-index: 10;
      height: 64vh;
      background-image: url('../../assets/images/home/s03/sandTop.png');
    }
    &.sand2 {
      z-index: 20;
      height: 48vh;
      background-image: url('../../assets/images/home/s03/sandMiddle.png');
    }
    &.sand3 {
      z-index: 30;
      height: 100%;
      background-image: url('../../assets/images/home/s03/sandBottom.png');
    }
  }
  > .limiter {
    @include limiter;
    display: flex;
    justify-content: space-between;
    height: 48vh;
    z-index: 40;

    > div {
      width: fit-content;
      display: flex;

      &.left {
        > p {
          font-size: 2.625rem;

          > .accent {
            display: block;
            font-size: 3.5rem;
          }
        }
      }
      &.right {
        align-items: flex-end;

        > p {
          font-size: 1.625rem;
          line-height: 1.5;
        }
      }
    }
  }
  > .dews {
    @include absoluteFull;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 50;
    padding: 8rem;
    box-sizing: border-box;

    > img {
      width: 100%;

      &:first-child {
        max-width: 16rem;
      }
      &:last-child {
        max-width: 8rem;
      }
    }
  }
}
