@import '../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;

  > .range {
    position: absolute;
    top: 0;
    height: 100%;
  }

  > .limiter {
    @include mainLimiter;
    height: 50%;
    position: relative;
    z-index: 5;
    opacity: 0;

    > div {
      width: fit-content;
      display: flex;

      &.left {
        align-items: flex-start;

        > p {
          color: #000;
          font-size: 2vw;

          > .point {
            display: block;
            font-size: 3vw;
          }
        }
      }

      &.right {
        align-items: flex-end;

        > p {
          color: #000;
          font-size: 1.6vw;
          line-height: 1.5;
        }
      }
    }
  }

  > .articles {
    @include absoluteFull;
    z-index: 10;
  }

  > .background {
    @include backgroundDefaultStyle;
    background-position: center top;
    position: absolute;
    left: 0;
    top: 0;

    &.first {
      z-index: 1;
      width: 100%;
      height: 25%;
    }
    &.second {
      z-index: 2;
      width: 100%;
      height: 25%;
    }
    &.last {
      z-index: 3;
      width: 100%;
      height: 100%;
    }
  }
}
