@import '../../common.scss';

.container {
  @include flexCenterStyle;
  background-color: #edf5f9;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  > .pulmuoneWater {
    @include mainLimiter;
    height: 50%;
    position: relative;
    z-index: 3;

    @include mobile {
      height: 100%;
    }

    > div {
      width: fit-content;
      display: flex;
      flex-direction: column;

      &.left {
        justify-content: flex-start;

        @include mobile {
          z-index: 5;
          padding: 2rem;
          box-sizing: border-box;
          position: absolute;
          left: 0;
          top: 0;
          height: 70vh;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }

        > h2 {
          font-size: 1.8vw;
          color: #000;

          @include tablet {
            font-size: 3.6vw;
          }

          @include mobile {
            font-size: 7vw;
          }

          > img {
            display: block;
            padding: 2rem 0;
            width: 15vw;
            max-width: 18rem;

            @include tablet {
              width: 100%;
              max-width: 30vw;
            }

            @include mobile {
              max-width: 40vw;
            }
          }
        }

        > p {
          font-size: 1.5vw;
          line-height: 1.5;

          @include tablet {
            font-size: 2vw;
          }

          @include mobile {
            font-size: 4vw;

            > br {
              display: none;
            }
          }
        }

        > a {
          @include mainBtn;
          color: #004d1c;
          background-color: #fff;
          margin-top: 4rem;

          &:hover {
            background-color: #004d1c;
            color: #fff;
          }
        }
      }

      &.right {
        justify-content: flex-end;

        @include mobile {
          justify-content: space-around;
        }

        @include mobile {
          position: absolute;
          align-items: center;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 25vh;
          background-color: #fff;
          padding: 2rem;
          box-sizing: border-box;
          flex-direction: row;
        }

        > img {
          width: 15vw;
          max-width: 20rem;

          @include mobile {
            order: 2;
            width: 30vw;
            height: 30vw;
            max-width: none;
          }
        }

        > .inner {
          > h3 {
            display: flex;
            align-items: center;
            color: #99ba10;
            font-size: 1.8vw;
            margin-top: 4rem;

            @include tablet {
              font-size: 3.6vw;
            }

            @include mobile {
              font-size: 5vw;
              margin-top: 0;
            }

            > span {
              background-color: #99ba10;
              color: #fff;
              width: 2vw;
              height: 2vw;
              font-size: 1.3vw;
              margin-right: 0.5rem;
              display: inline-block;
              border-radius: 50%;
              line-height: 2vw;
              text-align: center;

              @include tablet {
                font-size: 2.5vw;
                width: 3.5vw;
                height: 3.5vw;
                line-height: 3.5vw;
              }

              @include mobile {
                font-size: 4vw;
                width: 5vw;
                height: 5vw;
                line-height: 5vw;
              }
            }
          }

          > p {
            color: #000;
            font-size: 1.5vw;
            line-height: 1.5;
            padding-top: 1rem;

            @include tablet {
              font-size: 2vw;
            }

            @include mobile {
              font-size: 4vw;
            }
          }
        }
      }

      &.main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        max-width: 13vw;

        @include tablet {
          max-width: 26vw;
        }

        @include mobile {
          max-width: 30vw;
        }

        > .water {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;

          @include mobile {
            top: 40%;
          }

          &.false {
            width: 105%;
            opacity: 0;
          }
        }
      }
    }
  }

  > .background {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
  }
}
