@import '../../common.scss';

.container {
  @include flexCenterStyle;
  background-color: #edf5f9;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  @include mobile {
    height: auto;
    min-height: 100vh;
  }

  > .pulmuoneWater {
    @include mainLimiter;
    position: relative;
    z-index: 3;

    > div {
      width: fit-content;
      display: flex;
      flex-direction: column;

      &.left {
        width: 30%;
        justify-content: flex-start;
        opacity: 0;

        > h2 {
          font-size: 2.625rem;
          color: #000;

          > img {
            display: block;
            padding: 2rem 0;
            width: 100%;
            max-width: 17.5rem;
          }
        }

        > p {
          font-size: 2rem;
          line-height: 1.5;
        }

        > a {
          @include mainBtn;
          color: #004d1c;
          background-color: #fff;
          margin-top: 4rem;

          &:hover {
            background-color: #004d1c;
            color: #fff;
          }
        }
      }

      &.center {
        @include flexCenterStyle;
        width: 40%;

        > img {
          height: 120%;
          width: auto;
          display: none;
          opacity: 0;

          &.first {
            display: block;
            opacity: 1;
          }

          &.absolute {
            position: absolute;
          }
        }
      }

      &.right {
        opacity: 0;
        width: 30%;
        justify-content: flex-end;

        > div {
          align-items: center;
          justify-content: flex-end;
          display: none;
          opacity: 0;

          &.first {
            display: flex;
            opacity: 1;
          }

          > .inner {
            > img {
              width: 100%;
              max-width: 15rem;
              margin-bottom: 2rem;
            }

            > h3 {
              display: flex;
              align-items: center;
              color: #99ba10;
              font-size: 2.25rem;

              > span {
                background-color: #99ba10;
                color: #fff;
                width: 2.5rem;
                height: 2.5rem;
                font-size: 1.5rem;
                margin-right: 0.5rem;
                display: inline-block;
                border-radius: 50%;
                line-height: 2.5rem;
                text-align: center;
              }
            }

            > p {
              color: #000;
              font-size: 1.75rem;
              line-height: 1.5;
              padding-top: 1rem;
            }
          }

          > .pager {
            display: none;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            width: 3rem;
            height: 100%;

            @include mobile {
              display: flex;
            }

            > li {
              width: 1rem;
              height: 1rem;
              margin: 0.5rem 0;
              background-color: #06542c;
              opacity: 0.3;
              border-radius: 50%;

              &.active {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  > .background {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }
}
