@import '../../common.scss';

.container {
  @include flexCenterStyle;
  background-color: #edf5f9;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  > .pulmuoneWater {
    @include mainLimiter;
    height: 50%;
    position: relative;
    z-index: 2;

    > div {
      width: fit-content;
      display: flex;
      flex-direction: column;

      &.left {
        justify-content: flex-start;

        > h2 {
          font-size: 1.8vw;
          color: #000;

          > img {
            display: block;
            padding: 2rem 0;
            width: 15vw;
            max-width: 18rem;
          }
        }

        > p {
          font-size: 1.5vw;
          line-height: 1.5;
        }

        > a {
          display: block;
          color: #004d1c;
          font-size: 1.25vw;
          background-color: #fff;
          width: 100%;
          padding: 1rem 1.25rem;
          margin-top: 4rem;
          transition: all 0.2s ease-in-out;

          &::after {
            content: 'ã€‰';
            float: right;
          }

          &:hover {
            background-color: #004d1c;
            color: #fff;
          }
        }
      }

      &.right {
        justify-content: flex-end;

        > img {
          width: 15vw;
          max-width: 20rem;
        }

        > h3 {
          display: flex;
          align-items: center;
          color: #99ba10;
          font-size: 1.8vw;
          margin-top: 2rem;

          > span {
            background-color: #99ba10;
            color: #fff;
            width: 2vw;
            height: 2vw;
            font-size: 1.3vw;
            margin-right: 0.5rem;
            display: inline-block;
            border-radius: 50%;
            line-height: 2vw;
            text-align: center;
          }
        }

        > p {
          color: #000;
          font-size: 1.5vw;
          line-height: 1.5;
          padding-top: 1rem;
        }
      }

      &.main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        max-width: 13vw;

        > .water {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;

          &.false {
            width: 105%;
            opacity: 0;
          }
        }
      }
    }
  }

  > .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
