@import '../../common.scss';

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;

  @include tablet {
    flex-direction: column;
  }

  > div {
    width: 50%;

    @include tablet {
      width: 100%;
      height: 50%;
      min-height: 50vh;
    }

    &.background {
      @include backgroundDefaultStyle;
      background-position: left center;
      background-image: url('../../assets/images/home/s05/background.jpg');
    }

    &.detail {
      @include flexCenterStyle;
      background-color: #004d1c;

      > .info {
        padding: 10rem 0;
        box-sizing: border-box;

        @include mobile {
          padding: 5rem 2rem;
          width: 100%;
        }

        > h2 {
          color: #fff;
          font-size: 3.25rem;
          line-height: 1.5;

          @include mobile {
            font-size: 2.625rem;
          }
        }

        > p {
          font-size: 2rem;
          line-height: 1.5;
          color: #fff;
          padding-top: 3rem;

          @include mobile {
            font-size: 1.625rem;
          }
        }

        > a {
          @include mainBtn;
          color: #004d1c;
          background-color: #fff;
          margin-top: 10rem;

          &:hover {
            background-color: #bfd62f;
            color: #fff;
          }

          @include tablet {
            margin-top: 4rem;
          }

          @include mobile {
            margin-top: 3rem;
          }
        }
      }
    }
  }
}
