@import '../../common.scss';

.container {
  @include flexCenterStyle;
  width: 100%;
  height: 100vh;

  > .background {
    @include backgroundDefaultStyle;
    background-position: left center;
    background-image: url('../../assets/images/home/s05/background.jpg');
    width: 50%;
    height: 100%;
  }
  > .detail {
    @include flexCenterStyle;
    width: 50%;
    height: 100%;
    background-color: #004d1c;

    > .info {
      > h2 {
        color: #fff;
        font-size: 2.5vw;
        line-height: 1.5;
      }

      > p {
        font-size: 1.5vw;
        line-height: 1.5;
        color: #fff;
        padding-top: 2rem;
      }

      > a {
        @include mainBtn;
        max-width: 22rem;
        color: #004d1c;
        background-color: #fff;
        margin-top: 5rem;

        &:hover {
          background-color: #bfd62f;
          color: #fff;
        }
      }
    }
  }
}
