@import '../../common.scss';

.container {
  @include flexCenterStyle;
  width: 100%;
  height: 100vh;

  @include tablet {
    flex-direction: column;
  }

  > div {
    width: 50%;
    height: 100%;

    @include tablet {
      width: 100%;
      height: 50%;
    }

    &.background {
      @include backgroundDefaultStyle;
      background-position: left center;
      background-image: url('../../assets/images/home/s05/background.jpg');
    }

    &.detail {
      @include flexCenterStyle;
      background-color: #004d1c;

      > .info {
        @include tablet {
          width: 90%;
        }

        > h2 {
          color: #fff;
          font-size: 3.25rem;
          line-height: 1.5;
        }

        > p {
          font-size: 2rem;
          line-height: 1.5;
          color: #fff;
          padding-top: 3rem;
        }

        > a {
          @include mainBtn;
          color: #004d1c;
          background-color: #fff;
          margin-top: 10rem;

          &:hover {
            background-color: #bfd62f;
            color: #fff;
          }

          @include tablet {
            margin-top: 4rem;
          }

          @include mobile {
            margin-top: 3rem;
          }
        }
      }
    }
  }
}
