@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  @include backgroundDefaultStyle;
  box-sizing: border-box;
  height: 61.62rem;
  overflow: hidden;
  position: relative;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;
    flex-direction: column;
    position: relative;

    > img {
      position: absolute;
      width: 100%;

      &.left {
        left: 0;
        top: 0;
        max-width: 7.5rem;
      }
      &.right {
        right: 0;
        top: 20%;
        max-width: 12.5rem;
      }
    }
    > .grid {
      @include flexCenterStyle;
      background-color: #004d1c;
      width: 100%;
      max-width: 68.75rem;
      height: 41.65rem;

      > .bottle {
        height: 120%;
        margin-left: -13rem;
      }
      > .text {
        padding-right: 5rem;
        box-sizing: border-box;

        > h3 {
          color: white;
          font-size: 2rem;
          line-height: 1.5;
          padding-bottom: 2rem;
        }
        > p {
          color: white;
          font-size: 1.5rem;
          line-height: 1.8;
        }
      }
    }
  }
}
