@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  padding: 6.25rem 0;
  background-color: $face-color;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;
    flex-direction: column;

    > .title {
      @include sectionTitle;
      padding-bottom: 4.75rem;
    }
    > div {
      width: 100%;
      border-top: 4px solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      padding: 3.125rem 5rem;
      box-sizing: border-box;

      &.pulmuone {
        border-top-color: $tint-color;
        margin-bottom: 4rem;

        > .text {
          > .title {
            color: $tint-color;
          }
        }
      }
      &.nestle {
        border-top-color: #0a55a5;

        > .text {
          > .title {
            color: #0a55a5;
          }
        }
      }
      > img {
        width: 100%;
        max-width: 14.375rem;
      }
      > .text {
        padding-left: 5rem;

        > .title {
          font-size: 2.2rem;
          padding-bottom: 2rem;

          > span {
            font-weight: bold;
          }
        }
        > p {
          font-size: 1.4rem;
          line-height: 1.8;
        }
      }
    }
  }
}
