@import '../../../common.scss';

.container {
  @include backgroundDefaultStyle;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 50rem;
  position: relative;
  overflow: hidden;

  > .limiter {
    @include limiter;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;

    > .title {
      color: #fff;
      font-size: 2.75rem;
      padding-top: 6.25rem;
      font-weight: bold;
    }

    > .text {
      padding-top: 1.25rem;
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
      line-height: 1.5;
    }

    > .objects {
      @include absoluteFull;

      > img {
        position: absolute;
        transform: translate(0, -50%);

        &.left {
          width: 100%;
          max-width: 14rem;
          left: 0;
          top: 50%;
        }

        &.right {
          width: 100%;
          max-width: 18.75rem;
          right: 0;
          top: 70%;
        }

        &.ca {
          left: 24%;
          top: 62%;
        }

        &.mg {
          right: 28%;
          top: 80%;
          z-index: 3;
        }
      }
    }
  }

  > .bodyful {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.inner {
  @include flexCenterStyle;
  flex-direction: column;
  background-color: #003665;
  padding: 4.68rem 0;

  > p {
    padding-bottom: 0.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
