@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  padding: 6rem 0;

  > .limiter {
    @include limiter;
    @include flexCenterStyle;
    flex-direction: column;

    > .detail {
      @include flexCenterStyle;
      flex-direction: column;
      padding: 6rem;
      width: 100%;
      max-width: 72rem;

      > .title {
        @include sectionTitle;
      }
      > .info {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        width: 100%;

        > .image {
          width: 20%;

          > img {
            height: 100%;
          }
        }
        > .inner {
          width: 50%;

          > ul {
            > li {
              display: flex;
              align-items: center;
              margin-bottom: 1.8rem;

              > img {
                width: 100%;
                max-width: 11.25rem;
                margin-right: 2.125rem;
              }
              > .content {
                > h3 {
                  font-size: 1.8rem;
                  font-weight: bold;
                  padding-bottom: 1rem;
                }
                > p {
                  font-size: 1.4rem;
                  line-height: 1.5;
                }
              }
            }
          }
        }
      }
    }
    > .precautions {
      display: flex;
      padding: 2rem 4rem;
      box-sizing: border-box;
      background-color: #f4f4f4;
      border-radius: 1rem;

      > h3 {
        font-size: 1.6rem;
        font-weight: bold;
        white-space: nowrap;
      }
      > p {
        margin-left: 4rem;
        font-size: 1.4rem;
        line-height: 1.8;
      }
    }
  }
}
