@import '../../../common.scss';

.container {
  @include backgroundDefaultStyle;
  @include flexCenterStyle;
  height: 64rem;
  position: relative;
  overflow: hidden;

  > .limiter {
    @include limiter;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;

    > .title {
      @include sectionTitle;
      color: white;
      padding-top: 6rem;
    }
    > .text {
      padding-top: 1.4rem;
      font-size: 1.6rem;
      color: white;
      text-align: center;
      line-height: 1.8;
    }
  }
  > .objects {
    @include absoluteFill;

    > img {
      position: absolute;

      &.left {
        width: 100%;
        max-width: 26.25rem;
        left: -2rem;
        top: 40%;
      }
      &.right {
        width: 100%;
        max-width: 31.25rem;
        right: 0;
        top: 0;
      }
      &.bubleeLeft {
        width: 100%;
        max-width: 18.75rem;
        top: 30%;
        left: 15%;
      }
      &.bubbleRight {
        width: 100%;
        max-width: 18.75rem;
        top: 40%;
        right: 15%;
      }
    }
  }
  > .barrel {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
