@import '../../common.scss';

.container {
  @include flexCenterStyle;
  flex-direction: column;
  padding-bottom: 6rem;
  background-color: $face-color;

  > .logo {
    background-color: white;
    padding: 1.8rem 0;
    text-align: center;
    width: 100%;

    > img {
      width: 100%;
      max-width: 13.75rem;
    }
  }
  > .limiter {
    @include limiter;

    > h3 {
      margin-top: 4rem;
      font-size: 2.6rem;
      color: $accent-color;
      font-weight: bold;
      text-align: center;
    }
    > p {
      margin-top: 4rem;
      font-size: 1.6rem;
      line-height: 1.8;
      text-align: center;
    }
    > .list {
      margin-top: 5rem;
      display: flex;
      justify-content: center;

      > li {
        width: 100%;
        min-height: 25rem;
        background-color: $accent-color;
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
        > a {
          width: 100%;
          height: 100%;
          padding: 2rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          > h4 {
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1.5;
            color: white;
          }
          > .icon {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
          }
        }
      }
    }
  }
}
