// break resize
$breakpoint-mobile: 740px; // mobile
$breakpoint-tablet: 1280px; // tablet

@mixin fontEn {
  font-family: 'pulmuone-en', 'Noto Sans KR', sans-serif;
}

@mixin mainBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
  position: relative;
  font-size: 1.75rem;
  padding: 1.5rem 8rem 1.5rem 1.875rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;

  &::after {
    content: 'ã€‰';
    font-size: 1.75rem;
    right: 1.875rem;
    line-height: 1;
    position: absolute;
  }
}

@mixin absoluteFull {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin selectIcon {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, #999 50%), linear-gradient(135deg, #999 50%, transparent 50%),
    linear-gradient(to right, #fff, #fff);
  background-position: calc(100% - 20px) calc(1em + 8px), calc(100% - 15px) calc(1em + 8px), 100% 0;
  background-size: 5px 5px, 5px 5px, 100% 100%;
  background-repeat: no-repeat;

  &::-ms-expand {
    display: none;
  }

  @include mobile {
    background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px), 100% 0;
  }
}

@mixin backgroundDefaultStyle {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin limiter {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  transition: all 0.2s ease;

  @include desktop {
    padding: 0 10rem;
  }

  @include tablet {
    padding: 0 5rem;
  }

  @include mobile {
    padding: 0 2rem;
  }
}

@mixin flexCenterStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

// responsive size

@mixin vertical_tablet {
  @media screen and (max-height: 840px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1920px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin mobileIphoneSe {
  @media screen and (max-width: 320px) {
    @content;
  }
}
