// break resize
$breakpoint-mobile: 740px; // mobile
$breakpoint-tablet: 1280px; // tablet
$breakpoint-wide-desktop: 1480px; // wide desktop

// en font
@mixin fontEn {
  font-family: 'pulmuone-en', 'Noto Sans KR', sans-serif;
}

// layout mixin
@mixin absoluteFull {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin backgroundDefaultStyle {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin limiter {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  transition: padding 0.2s ease;
}

@mixin flexCenterStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

// design mixin
@mixin homeBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
  position: relative;
  font-size: 1.75rem;
  padding: 1.5rem 8rem 1.5rem 1.875rem;
  width: fit-content;
  transition: all 0.2s ease-in-out;

  &::after {
    content: 'ã€‰';
    font-size: 1.75rem;
    right: 1.875rem;
    line-height: 1;
    position: absolute;
  }
}

@mixin btn {
  @include flexCenterStyle;
  padding: 1.625rem 6.25rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
  width: fit-content;
  margin: 3.125rem 0;
}

@mixin subTitle {
  font-size: 2.75rem;
  font-weight: bold;
  color: #212121;
  line-height: 1.5;
}

@mixin selectIcon {
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #999 50%), linear-gradient(135deg, #999 50%, transparent 50%),
    linear-gradient(to right, #fff, #fff);
  background-position: calc(100% - 20px) calc(1em + 8px), calc(100% - 15px) calc(1em + 8px), 100% 0;
  background-size: 5px 5px, 5px 5px, 100% 100%;
  background-repeat: no-repeat;

  &::-ms-expand {
    display: none;
  }
}

@mixin selectIconDown {
  appearance: none;
  background: url('./assets/images/shared/select_down_icon.svg') no-repeat 97% 50%/15px auto;

  &::-ms-expand {
    display: none;
  }
}

// responsive size
@mixin desktop {
  @media screen and (max-width: $breakpoint-wide-desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}
