// break resize
$breakpoint-mobile: 740px; // mobile
$breakpoint-tablet: 1280px; // tablet

@mixin fontEn {
  font-family: 'pulmuone-en', 'Noto Sans KR', sans-serif;
}

@mixin backgroundDefaultStyle {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin mainLimiter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80vw;
  padding: 0 1rem;
  box-sizing: border-box;

  > div {
    width: fit-content;
    display: flex;

    &.left {
      align-items: flex-start;

      > p {
        color: #fff;
        font-size: 1.875rem;

        > .point {
          color: #bfd62f;
          display: block;
          font-size: 3.2rem;
        }
      }
    }

    &.right {
      align-items: flex-end;

      > p {
        color: #fff;
        font-size: 1.875rem;
        line-height: 1.5;
      }
    }
  }
}

@mixin limiter {
  width: 100%;
  max-width: 1160px;
  padding: 0 1rem;
  box-sizing: border-box;
}

@mixin flexCenterStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

// responsive size
@mixin mobile {
  @media screen and (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}
