// break resize
$breakpoint-mobile: 740px; // mobile
$breakpoint-tablet: 1280px; // tablet

@mixin fontEn {
  font-family: 'pulmuone-en', 'Noto Sans KR', sans-serif;
}

@mixin mainBtn {
  display: block;
  font-size: 1.25vw;
  width: 100%;
  padding: 1rem 1.25rem;
  transition: all 0.2s ease-in-out;

  &::after {
    content: 'ã€‰';
    float: right;
  }
}

@mixin backgroundDefaultStyle {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin mainLimiter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80vw;
  padding: 0 1rem;
  box-sizing: border-box;
}

@mixin limiter {
  width: 100%;
  max-width: 1160px;
  padding: 0 1rem;
  box-sizing: border-box;
}

@mixin flexCenterStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

// responsive size
@mixin mobile {
  @media screen and (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}
