@font-face {
  font-family: 'pulmuone';
  font-weight: 300;
  font-style: lighter;
  src: url('./assets/fonts/PulmuoneLOHASOTFLight.woff') format('woff');
}

@font-face {
  font-family: 'pulmuone';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/PulmuoneLOHASOTFMedium.woff') format('woff');
}

@font-face {
  font-family: 'pulmuone';
  font-weight: 600;
  font-style: bold;
  src: url('./assets/fonts/PulmuoneLOHASOTFBold.woff') format('woff');
}
