@import './fonts.scss';
@import './common.scss';

* {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  font-family: 'pulmuone', 'Noto Sans KR', sans-serif;
}

html {
  overflow-x: hidden;
  font-size: 16px;

  @include vertical_tablet {
    font-size: 14px;
  }

  @include tablet {
    font-size: 13px;
  }

  @include mobile {
    font-size: 10px;
  }

  @include mobileIphoneSe {
    font-size: 8px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
